* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
  font-weight: 400;
  transition: 0.2s;#74466b
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../images/photo-1578678346424-41f8dcc13ea9.jpeg") no-repeat center center;
  background-size: cover;
  height: 30%;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right-nav ul li {
  display: inline-block;
  margin-left: 10px;
}

.header__right-nav ul li a, .new-post {
  border: 2px solid #287b72;
  color: #ffede3;
  background-color: #287b72;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 5px;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 307px;
  margin: 74px auto;
}

.header__folio {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 3px solid #287b72;
  position: relative;
}

.header__img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__user h1 {
  color: #287b72;
  font-weight: 700;
  font-size: 26px;
}

main {
  background-color: #ffede3;
  padding: 140px 0;
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.posts__item {
  width: 32%;
  height: 500px;
  border: 1px solid #e6e6e6;
  margin-bottom: 50px;
}

.posts__user {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.posts__folio {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #287b72;
  position: relative;
  margin-right: 10px;
}

.posts__img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts__user h1 {
  color: #287b72;
  font-weight: 700;
  font-size: 18px;
}

.posts_thumbnail {
  height: 60%;
}

.posts_thumbnail img {
  height: 100%;
  width: 100%;
}

.posts__details {
  padding: 10px;
}

.posts__details h2 {
  font-weight: 700;
  font-size: 20px;
  color: #916274;
  margin: 10px 0 5px 0;
}

.posts__details p {
  line-height: 22px;
  height: 50px;
  overflow-y: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  margin: 7% auto;
  background-color: #FFEDE3;
  box-shadow: 1px 5px 14px 2px #E0ACB4;
  width: 450px;
  height: 500px;
  padding: 20px;
  border-radius: 12px;
  color: #287b72;
  text-align: center;
}

/* The Close Button */
.close {
  color: #287b72;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  color: #916274;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h1  {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal-content form {
  margin-bottom: 15px;
  font-size: 18px;
}

.modal-content form input, #details {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 20px;
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
  outline: none;
  border: none;
}

.modal-content form input:focus, #details:focus {
  border: 1px solid #287b72;
}

#add-post {
  border: 2px solid #287b72;
  color: #ffffff;
  background-color: #287b72;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 10px;
}

#add-post:hover {
  color: #287b72;
  background-color: transparent;
}

label {
  display: none;
}

/* start style of 404 error page */
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}

/* end style of 404 error page */